@use "sass:map";
@import "./style/constants.scss";
@import "./style/colors.scss";
@import "./style/layouts.scss";
@import "./style/inputs.scss";
@import "./style/styling.scss";
@import "./style/text.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  @extend .bg-light;
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
  color: map.get($colors, "dark");
  height: 100%;

  overflow-x: hidden;
}

.animated {
  transition: 0.2s;
}

img {
  height: 100px;
  width: auto;
}
